<!-- <div class="banner-img">
    <img src="assets/images/level-sidebar/banner-img.png" class="img-fluid w-100">
</div> -->
<header>
  <nav class="level-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid logo cursor-pointer" routerLink="/home"
            src="../../../../assets/home-asset/header-round.png" alt="">
          <img class="img-fluid ms-3 cursor-pointer white-logo" routerLink="/home"
            src="../../../../assets/home-asset/mozhigal_white.png" alt="header-logo">
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <div class="header-right-section">
            <div [ngClass]="(isBuddyLogin || isGuestUser) ? 'user-active' : 'user-muted'">
              <img class="user-image" src="../../../../assets/images/currentUser.png" alt="">
              <label class="form-label text-white">
                <span *ngIf="isGuestUser">
                  <dl>
                    <dt class="font-weight-bold">{{ userService.getUser()?.student_name || 'Guest User' }} / {{
                      userService.getUser()?.emis_username || 'Anonymous' }}</dt>
                    <li>
                      <img src="../../../../assets/images/Star.svg" alt="" /> Stars: {{ levelService.stars }}
                      <img class="h-20" src="../../../../assets/images/Points.png" alt="" /> Total Points: {{
                      levelService.totalPoints.toFixed(2) }}
                    </li>
                  </dl>
                </span>
                <div *ngIf="!isGuestUser">
                  <dl>
                    <dt class="font-weight-bold"> <span> {{ userService.getUser()?.student_name }} </span> | {{
                      userService.getUser()?.emis_username }}</dt>
                    <li>
                      <img src="../../../../assets/images/Star.svg" alt="" /> Stars: {{
                      levelService.stars }}
                      <img class="h-20" src="../../../../assets/images/Points.png" alt="" /> Total Points: {{
                      levelService.totalPoints.toFixed(2) }}
                    </li>
                  </dl>
                </div>
              </label>
            </div>

            <!-- custom-dropdown.component.html -->

            <div class="custom-dropdown">
              <img (click)="isHamburgerOn = !isHamburgerOn" src="../../../../assets/images/VerticalDot.svg"
                class="threedots" alt="VerticalDot" />
              <ul *ngIf="isHamburgerOn" class="dropdown-list shadow p-3 mb-2 bg-body rounded ">
                <!-- <li style="font-weight: 600;" class="list">
                  <img style="height: 30px;" src="../../../../assets/images/lang.svg" alt="">
                 
                  <span *ngIf="currentlang; else tamilLang">
                    தமிழ்
                  </span>
                  <ng-template #tamilLang> 
                    English
                  </ng-template>
                  
                  <label class="switch">
                   <input type="checkbox" [checked]="!currentlang" (change)="toggleLanguage($event)">
                    <span class="slider round"></span>
                  </label>
                </li> -->

                <li class="list" *ngIf="isGuestUser !== 'true' && !isBuddyLogin" (click)="buddyLogin()">Join As Buddy
                </li>
                <div *ngIf="isBuddyLogin; else notBuddyLogin">
                  <dl>
                    <dt class="font-weight-bold"> <span> {{ userService.getBuddyUser()?.student_name }} </span> / {{
                      userService.getBuddyUser()?.emis_username }}</dt>
                    <li class="list"> <img src="../../../../assets/images/Star.svg" alt="" /> Stars: {{
                      levelService.buddyStars }} | <img class="h-20" src="../../../../assets/images/Points.png"
                        alt="" /> Total Points: {{
                      levelService.buddyTotalPoints.toFixed(2) }}</li>
                  </dl>
                </div>
                <ng-template #notBuddyLogin>
                </ng-template>
                <li class="text-danger h5 list-unstyled"
                  (click)="telemetryService.interact('logout', 'level','NT'); logout()"><img class="h-30"
                    src="../../../../assets/images/log.svg" alt=""> Logout</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="rounded bg-white border p-3" *ngIf="levelService?.lessonData">
        <app-view-lesson [lessonData]="levelService?.lessonData"></app-view-lesson>
      </div>
      <div class="text-center">
        <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5 mb-4"
          (click)="levelService.playNextLesson(); telemetryService.interact('next-button', 'level')"
          *ngIf="levelService?.lessonData">Next</button>
        <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5"
          (click)="levelService.playNextLesson()" *ngIf="!levelService?.lessonData">Start</button>
      </div>
      <!-- <app-level-viewpart></app-level-viewpart> -->
    </div>
    <div class="col-md-3">
      <app-level-sidemenu></app-level-sidemenu>
    </div>
  </div>
</div>
<footer>
  <div class="footer-level-img footer">
    <div class="container">
      <div class="row pt-5">
        <div class="position-relative">
          <div class="content">
            <h6>
              A lot of work has gone into making the Mozhigal lesson content.
              <br> We have also used resources from many different places.
            </h6>
            <h6 class="mt-4">
              To view the sources who have inspired the content and who have <br>created the lessons and the activities
              for
              Level 1,
              please <a
                href="https://clixplatform.tiss.edu/eb-unit0-english-beginner/course/activity_player/5a7d3ff769602a01579b0aa5/5a8b97b569602a01579eba4d/"
                target="_blank">Click here.</a>
            </h6>
            <h6 class="mt-4">
              To view the sources who have inspired the content and who have <br>created the lessons and the activities
              for
              Level 2, please <a
                href="https://clixplatform.tiss.edu/eb-unit1-english-beginner/course/activity_player/5a8b9b9c69602a0154bd46d4/5a8b9b2369602a01579ebaf2/"
                target="_blank">Click here.</a>
            </h6>
            <div class="mt-4">
              <span class="text-white">Visitors Counter: </span>
              <!-- hitwebcounter Code START -->
              <a href="https://www.hitwebcounter.com" target="_blank">
                <img
                  src="https://hitwebcounter.com/counter/counter.php?page=8417830&style=0006&nbdigits=1&type=ip&initCount=0"
                  title="Free Counter" Alt="web counter" border="0" /></a>
              <div>Device Id: {{this.logService.getFingerPrintJsId()?.result}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>